src/main/xsd/loaderResult.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="upload" type="uploadType"/>
  <xs:complexType name="uploadType">
    <xs:sequence>
      <xs:element type="xs:string" name="status"/>
      <xs:element type="valuesetsType" name="valuesets"/>
      <xs:element type="messagesType" name="messages"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="valuesetsType">
    <xs:sequence>
      <xs:element type="valuesetType" name="valueset" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="valuesetType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="version" use="required"/>
        <xs:attribute type="xs:string" name="entries" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="messagesType">
    <xs:sequence>
      <xs:element type="xs:string" name="message" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>